$fs-desktop-heading: 96px;
$fs-desktop-heading-sm: 64px;
$fs-desktop-subheading: 32px;
$fs-desktop-card-heading: 32px;
$fs-desktop-card-subheading: 20px;
$fs-desktop-button-text: 32px;
$fs-desktop-card-button-text: 24px;
$fs-desktop-header-logo: 36px;
$fs-desktop-footer-logo: 32px;
$fs-desktop-menu: 24px;

$desktop-vertical-padding: 40px;
$desktop-horizontal-padding: 100px;

$fs-mobile-heading: 40px;
$fs-mobile-heading-sm: 40px;
$fs-mobile-subheading: 14px;
$fs-mobile-card-heading: 20px;
$fs-mobile-card-subheading: 14px;
$fs-mobile-button-text: 16px;
$fs-mobile-card-button-text: 16px;
$fs-mobile-header-logo: 16px;
$fs-mobile-footer-logo: 14px;
$fs-mobile-menu: 16px;

$mobile-vertical-padding: 20px;
$mobile-horizontal-padding: 20px;

$ls-heading: -2.88px;
$ls-heading-sm: -1.92px;
$ls-footer-logo: -0.96px;
